# Fichiers de configuration des IDE
.idea/
.vscode/

# Dépendances
node_modules/
*/node_modules/

# Fichiers d'environnement (TRÈS IMPORTANT pour la sécurité)
.env
*/.env

# Fichiers de build
dist/
*/dist/
build/
*/build/
mongo-data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db