// /frontend/src/pages/LoginPage.scss

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:wght@400;700&display=swap');

// Variables de couleur pour une maintenance facile
$dark-green: #384a3c;
$button-green: #596854;
$text-color: #2a312d;

.login-page-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-green;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
}

.login-card {
  display: flex;
  width: 100%;
  max-width: 900px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  min-height: 550px;
}

.background-shapes-image {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  height: 170%;
  width: auto;
  left: 88%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.login-form-container {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.login-illustration-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative; // Pour positionner l'image

  img {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0;
  }
}

.login-title {
  font-family: 'Belleza', serif;
  font-weight: 400 !important;
  font-size: 2.5rem !important;
  color: $text-color;
  letter-spacing: 1.5px !important;
  text-transform: uppercase;
}

.login-subtitle {
  margin-bottom: 2.5rem !important;
  color: #777;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MuiTextField-root {
  margin-bottom: 2rem !important;

  .MuiInputLabel-root {
    font-size: 0.8rem !important;
    font-weight: 700 !important;
    color: #999;
    letter-spacing: 1px !important;

    &.Mui-focused {
      color: $dark-green !important;
    }
  }

  .MuiInput-underline:before {
    border-bottom: 1px solid #ccc !important;
  }

  .MuiInput-underline:after {
    border-bottom: 2px solid $dark-green !important;
  }
}

.error-message {
  color: #d32f2f;
  font-size: 0.8rem;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  min-height: 1em;
}

.submit-button {
  background-color: $button-green !important;
  color: white !important;
  border-radius: 50px !important;
  padding: 12px 0 !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  margin-top: 1rem !important;
  box-shadow: none !important;

  width: 100%;
  max-width: 300px;
  align-self: center;

  &:hover {
    background-color: $dark-green !important;
  }
}

@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
  }

  .login-illustration-container {
    display: none;
  }

  .login-form-container {
    padding: 2.5rem;
  }
}